attrs==21.4.0
blis==0.7.8
catalogue==2.0.7
certifi==2022.6.15
charset-normalizer==2.0.12
click==7.1.2
cymem==2.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
idna==3.3
iniconfig==1.1.1
Jinja2==3.1.2
joblib==1.1.0
langcodes==3.3.0
MarkupSafe==2.1.1
murmurhash==1.0.7
nltk==3.7
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pathy==0.6.1
pluggy==1.0.0
preshed==3.0.6
prompt-toolkit==1.0.14
py==1.11.0
pydantic==1.8.2
pyfiglet==0.8.post1
Pygments==2.12.0
PyInquirer==1.0.3
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
regex==2022.6.2
requests==2.28.0
six==1.16.0
smart-open==5.2.1
spacy==3.0.8
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
thinc==8.0.17
tomli==2.0.1
tqdm==4.64.0
typer==0.3.2
typing_extensions==4.2.0
urllib3==1.26.9
wasabi==0.9.1
wcwidth==0.2.5
